<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone Adress book</title>
    <style>
        body {
          background: #ffe7a2;
        }
    </style>
</head>
<body>

    <div id="main">
        <header>
            <h1> <a href="/">Backbone Address book</a> </h1>
        </header>
        <div id="app"></div>
    </div>

    <script type="text/template" id="ContactsItemViewTemplate">
        <a href="/contacts/<%= id %>" class="fn-show-contact-details">
        <%= firstName %> <%= lastName %> <span> <%= email %> </span>
        </a>
    </script>

    <script type="text/template" id="ContactViewTemplate">
        <h2 class="contact-header"> <%= firstName %> <%= lastName %> </h2>

        <p> <label> First Name: </label> <input class="contact-firstname" value="<%= firstName %>" </p>
        <p> <label> Last Name: </label> <input class="contact-lastname" value="<%= lastName %>" </p>
        <p> <label> Email: </label> <input class="contact-email" value="<%= email %>" </p>
        <div>
            <button class="fn-update-contact-details">Update contact details</button>
            <button class="fn-delete-contact-details">Delete contact details</button>
        </div>
    </script>

        <script type="text/template" id="NewContactViewTemplate">
        <h2 class="contact-header"> New Contact </h2>

        <p> <label> First Name: </label> <input class="contact-firstname" value="" </p>
        <p> <label> Last Name: </label> <input class="contact-lastname" value="" </p>
        <p> <label> Email: </label> <input class="contact-email" value="" </p>
        <div>
            <button class="fn-create-contact">Update contact details</button>
        </div>
    </script>

    <!-- list of bower scripts (need to verify if all paths are corrected) -->
    <script src="//rawgithub.com/ded/reqwest/master/reqwest.min.js"></script>
    <script src="/vendors/jbone/dist/jbone.min.js"></script>
    <script src="/vendors/underscore/underscore-min.js"></script>
    <script src="/vendors/backbone/backbone-min.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>
