<div class="contact-action">
    <a href="/contacts/new">New Contact</a>
</div>

<ul>
    <li data-ng-repeat="contact in contacts">
        <a href="/contacts/{{contact.id}}">
            {{contact.firstName}} {{contact.lastName}} <span>{{contact.email}}</span>
        </a>
    </li>
</ul>
