<h2>New Contact</h2>

<p> <label> First Name: </label> <input type="text" data-ng-model="contact.firstName"></p>
<p> <label> Last Name: </label> <input type="text" data-ng-model="contact.lastName"></p>
<p> <label> Email: </label> <input type="email" data-ng-model="contact.email"></p>

<p>
    <button data-ng-click="addContact()">Add Contact</button>
</p>
