<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Ember Adress book</title>
    <style>
        body {
          background: #ffe7a2;
        }
    </style>
</head>
<body id="app">

    <script type="text/x-handlebars" id="application">
        <div id="main">
            <header>
                <h1> {{#link-to 'contacts'}} Ember Address Book {{/link-to}}</h1>
            </header>
            <div id="main">
                {{outlet}}
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" id="contacts">
        <div id="actions">
            {{#link-to 'new'}} New Contact {{/link-to}}

            <ul>
                {{#each model as |contact|}}
                    <li>
                        {{#link-to 'contact' contact}}
                            {{contact.firstName}} {{contact.lastName}} <span>{{contact.email}} </span>
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </script>

    <script type="text/x-handlebars" id="contact">
        <h2> {{model.firstName}} {{model.lastName}} </h2>

        <p> <label> First Name: </label> {{input value=model.firstName}} </p>
        <p> <label> Last Name: </label> {{input value=model.lastName}} </p>
        <p> <label> Email: </label> {{input value=model.email}} </p>

        <p>
            <button {{action "updateContact"}}> Update contact</button>
            <button {{action "deleteContact"}}> Delete contact</button>
        </p>
    </script>

    <script type="text/x-handlebars" id="new">
        <h2> New contact </h2>

        <p> <label> First Name: </label> {{input value=model.firstName}} </p>
        <p> <label> Last Name: </label> {{input value=model.lastName}} </p>
        <p> <label> Email: </label> {{input value=model.email}} </p>

        <p>
            <button {{action "addContact"}}> Add contact</button>
        </p>
    </script>

    <script src="/vendors/jquery/dist/jquery.js"></script>
    <script src="/vendors/handlebars/handlebars.min.js"></script>
    <script src="/vendors/ember/ember-template-compiler.js"></script>
    <script src="/vendors/ember/ember.debug.js"></script>
    <script src="/vendors/ember-data/ember-data.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>
